.success {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 16px;
  color: green;
  text-align: center;
}

.error {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 16px;
  color: red;
  text-align: center;
}